/* css reset */
html{
    font-size: 62.5%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 10px; */
    /* font: inherit; */
  }

  *,
  *::before,
  *::after{box-sizing:border-box;}


/* root styling */
:root {
  /* Primary Colors */
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  /* Neutral Colors */
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);

}
body,main{
    width: 100%;
    height: 100vh;
    background-color: var(--color-cream);
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width:90%;
    max-width: 50rem;
    height: auto; 
    margin: 4.5rem 0 ;
    border-radius: 1em;

    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card picture img{
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
}

.card-content{
    width: 88%;
    max-width: 40rem;
    margin: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.category{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-grey);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.title{
    font-family: Fraunces,serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-black);
    line-height: 1;
}

.description{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-grey);
}

.price{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.price .current-price{
    font-family: Fraunces,serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-green-500);
}

.price .old-price{
    /* font-family: Fraunces,serif; */
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-grey);
    text-decoration: line-through;
}

.add-to-cart{
    width: 100%;
    height: 5rem;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--color-green-500);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
    transition: background-color 0.2s ease;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
}

.add-to-cart:active {
    background-color: var(--color-green-700);
}
.add-to-cart:hover{
    cursor: pointer;

}


footer{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

footer a{
    text-decoration: none;
    color: var(--color-green-500);
}


@media (min-width: 48rem) {
    .card{
        flex-direction: row;
        justify-content: center;
        align-items:baseline;
        width: 60rem;
        max-width: 80rem;
        height: 45rem;
        margin: auto 0 auto 0;
    }

    .card picture img{
        width: 30rem;
        height: 45rem;
        border-radius: 1em 0 0 1em;
    }

    .card-content{
        width: 30rem;
        margin: auto 2.5rem ;
        gap: 2.5rem;
    }
}
